[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-cargo
Exec=sailfish-qml harbour-cargo
Name=Cargo

[X-Sailjail]
Permissions=Documents;Downloads;Internet;Pictures;PublicDir;RemovableMedia;UserDirs
OrganizationName=tc.ki
ApplicationName=cargo
